.adventApp .sapMPageHeader {
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.2);
	box-shadow: none;
}

.adventApp .sapMPageHeader .sapMTitle > span {
	font-size: 1.5rem;
	color: white;
	text-shadow: 0 1px rgba(0,0,0,0.4);
}